{% extends 'infotor/base.html' %}
{% load infotor_template_tags %}
{% load static %}

{% block links %}
<!--link rel="stylesheet" href="https://openlayers.org/en/v5.3.0/css/ol.css" type="text/css">
<!-- The line below is only needed for old environments like Internet Explorer and Android 4.x ->
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script-->
{% endblock %}

{% block main %}
<div class="container-fluid">
  <div class="row">

    {% render_sidebar %}

    <main role="main" class="col-md-10 ml-auto col-lg-10 px-4" style="padding-top:70px">
      <!--div id="map" style="width:80vw; height:90vh;"></div>
      
      <script src="{% static "OpenLayers-2.13.1/OpenLayers.js" %}"></script>
        <script>
            var lon = 1200000;
            var lat = 5700000;
            var zoom = 7;
            var map, layer;
        
            map = new OpenLayers.Map("map");
            map.addLayer(new OpenLayers.Layer.OSM());
            map.setCenter(new OpenLayers.LonLat(lon, lat), zoom);
            //map.zoomToMaxExtent();
            
            
            map.addLayer(new OpenLayers.Layer.Vector("KML", {
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "{% static 'kml/torrenti.kml' %}",
                    format: new OpenLayers.Format.GML()
                }),
                strategies: [new OpenLayers.Strategy.Fixed()]
            }));
            
            
        </script-->
        
        <!--iframe style="width:80vw; height:90vh;" frameBorder="0" allowfullscreen src="https://umap.openstreetmap.fr/en/map/torrenti_304838?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false"></iframe-->
        <iframe style="width:80vw; height:90vh;" frameBorder="0" allowfullscreen src="https://umap.openstreetmap.fr/en/map/torrenti_304838?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false&datalayers=803429%2C803483#11/46.6268/511930.7309"></iframe>
        
        <p>
            <a href="https://umap.openstreetmap.fr/en/map/torrenti_304838">See full screen</a>
        </p>  
      
      
    <!--script>
      import Feature from 'ol/Feature.js';
      import Map from 'ol/Map.js';
      import View from 'ol/View.js';
      import GeoJSON from 'ol/format/GeoJSON.js';
      import Circle from 'ol/geom/Circle.js';
      import {Tile as TileLayer, Vector as VectorLayer} from 'ol/layer.js';
      import {OSM, Vector as VectorSource} from 'ol/source.js';
      import {Circle as CircleStyle, Fill, Stroke, Style} from 'ol/style.js';


      var image = new CircleStyle({
        radius: 5,
        fill: null,
        stroke: new Stroke({color: 'red', width: 1})
      });

      var styles = {
        'Point': new Style({
          image: image
        }),
        'LineString': new Style({
          stroke: new Stroke({
            color: 'green',
            width: 1
          })
        }),
        'MultiLineString': new Style({
          stroke: new Stroke({
            color: 'green',
            width: 1
          })
        }),
        'MultiPoint': new Style({
          image: image
        }),
        'MultiPolygon': new Style({
          stroke: new Stroke({
            color: 'yellow',
            width: 1
          }),
          fill: new Fill({
            color: 'rgba(255, 255, 0, 0.1)'
          })
        }),
        'Polygon': new Style({
          stroke: new Stroke({
            color: 'blue',
            lineDash: [4],
            width: 3
          }),
          fill: new Fill({
            color: 'rgba(0, 0, 255, 0.1)'
          })
        }),
        'GeometryCollection': new Style({
          stroke: new Stroke({
            color: 'magenta',
            width: 2
          }),
          fill: new Fill({
            color: 'magenta'
          }),
          image: new CircleStyle({
            radius: 10,
            fill: null,
            stroke: new Stroke({
              color: 'magenta'
            })
          })
        }),
        'Circle': new Style({
          stroke: new Stroke({
            color: 'red',
            width: 2
          }),
          fill: new Fill({
            color: 'rgba(255,0,0,0.2)'
          })
        })
      };

      var styleFunction = function(feature) {
        return styles[feature.getGeometry().getType()];
      };

      var geojsonObject = {
        'type': 'FeatureCollection',
        'crs': {
          'type': 'name',
          'properties': {
            'name': 'EPSG:3857'
          }
        },
        'features': [{
          'type': 'Feature',
          'geometry': {
            'type': 'Point',
            'coordinates': [0, 0]
          }
        }, {
          'type': 'Feature',
          'geometry': {
            'type': 'LineString',
            'coordinates': [[4e6, -2e6], [8e6, 2e6]]
          }
        }, {
          'type': 'Feature',
          'geometry': {
            'type': 'LineString',
            'coordinates': [[4e6, 2e6], [8e6, -2e6]]
          }
        }, {
          'type': 'Feature',
          'geometry': {
            'type': 'Polygon',
            'coordinates': [[[-5e6, -1e6], [-4e6, 1e6], [-3e6, -1e6]]]
          }
        }, {
          'type': 'Feature',
          'geometry': {
            'type': 'MultiLineString',
            'coordinates': [
              [[-1e6, -7.5e5], [-1e6, 7.5e5]],
              [[1e6, -7.5e5], [1e6, 7.5e5]],
              [[-7.5e5, -1e6], [7.5e5, -1e6]],
              [[-7.5e5, 1e6], [7.5e5, 1e6]]
            ]
          }
        }, {
          'type': 'Feature',
          'geometry': {
            'type': 'MultiPolygon',
            'coordinates': [
              [[[-5e6, 6e6], [-5e6, 8e6], [-3e6, 8e6], [-3e6, 6e6]]],
              [[[-2e6, 6e6], [-2e6, 8e6], [0, 8e6], [0, 6e6]]],
              [[[1e6, 6e6], [1e6, 8e6], [3e6, 8e6], [3e6, 6e6]]]
            ]
          }
        }, {
          'type': 'Feature',
          'geometry': {
            'type': 'GeometryCollection',
            'geometries': [{
              'type': 'LineString',
              'coordinates': [[-5e6, -5e6], [0, -5e6]]
            }, {
              'type': 'Point',
              'coordinates': [4e6, -5e6]
            }, {
              'type': 'Polygon',
              'coordinates': [[[1e6, -6e6], [2e6, -4e6], [3e6, -6e6]]]
            }]
          }
        }]
      };

      var vectorSource = new VectorSource({
        features: (new GeoJSON()).readFeatures(geojsonObject)
      });

      vectorSource.addFeature(new Feature(new Circle([5e6, 7e6], 1e6)));

      var vectorLayer = new VectorLayer({
        source: vectorSource,
        style: styleFunction
      });

      var map = new Map({
        layers: [
          new TileLayer({
            source: new OSM()
          }),
          vectorLayer
        ],
        target: 'map',
        view: new View({
          center: [0, 0],
          zoom: 2
        })
      });
    </script>
    
    
      
      
        <!--script src="{% static "OpenLayers-2.13.1/OpenLayers.js" %}"></script>
        <script>
            var lon = 1200000;
            var lat = 5700000;
            var zoom = 7;
            var map, layer;
        
            map = new OpenLayers.Map("map");
            map.addLayer(new OpenLayers.Layer.OSM());
            //map.setCenter(new OpenLayers.LonLat(lon, lat), zoom);
            map.zoomToMaxExtent();
            
            
            map.addLayer(new OpenLayers.Layer.Vector("GML", {
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "{% static 'gml/torrenti.gml' %}",
                    format: new OpenLayers.Format.GML()
                }),
                strategies: [new OpenLayers.Strategy.Fixed()]
            }));
            
            
        </script>  
      <!--script type="text/javascript">
        var lon = 5;
        var lat = 40;
        var zoom = 5;
        var map, layer;

        function init(){
            map = new OpenLayers.Map( 'map' );
            layer = new OpenLayers.Layer.OSM();
            map.addLayer(layer);
            map.zoomToMaxExtent();
            map.setCenter(new OpenLayers.LonLat(lon, lat), zoom);
            var featurecollection = {
              "type": "FeatureCollection", 
              "features": [
                {"geometry": {
                    "type": "GeometryCollection", 
                    "geometries": [
                        {
                            "type": "LineString", 
                            "coordinates": 
                                [[11.0878902207, 45.1602390564], 
                                [15.01953125, 48.1298828125]]
                        }, 
                        {
                            "type": "Polygon", 
                            "coordinates": 
                                [[[11.0878902207, 45.1602390564], 
                                  [14.931640625, 40.9228515625], 
                                  [0.8251953125, 41.0986328125], 
                                  [7.63671875, 48.96484375], 
                                  [11.0878902207, 45.1602390564]]]
                        },
                        {
                            "type":"Point", 
                            "coordinates":[15.87646484375, 44.1748046875]
                        }
                    ]
                }, 
                "type": "Feature", 
                "properties": {}}
              ]
           };
           var geojson_format = new OpenLayers.Format.GeoJSON();
           var vector_layer = new OpenLayers.Layer.Vector(); 
           map.addLayer(vector_layer);
           vector_layer.addFeatures(geojson_format.read(featurecollection));

        }
    </script-->
      
    </main>
  </div>
</div>
{% endblock %}
