{% extends 'infotor/base.html' %}
{% load infotor_template_tags %}
{% load static %}

{% block main %}
<div class="container-fluid">
  <div class="row">

    {% render_sidebar %}

    <main role="main" class="col-md-10 ml-auto col-lg-10 px-4" style="padding-top:70px">
      
      <iframe style="width:80vw; height:90vh;" frameBorder="0" allowfullscreen src="https://umap.openstreetmap.fr/en/map/torrenti_304838?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false&datalayers=803429%2C803483#11/46.6268/511930.7309"></iframe>
       
    </main>
    
  </div>
</div>
{% endblock %}
