{% load staticfiles %}
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap py-1 px-0 shadow">
  <a class="navbar-brand mx-3" href="/">
    <img src="{% static "images/logo.png" %}" height="40" alt="">
  </a>
  <!-- BEGIN Navbar sections and links -->
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link text-light" href="/">UnicoCAI Torrentismo</a>
    </li>
  </ul>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link text-light" href="/logout">
        <i class="fas fa-sign-out-alt"></i>
        <span>Logout</span>
      </a>
    </li>
  </ul>
  <!-- END Navbar sections and links -->
</nav>
