<nav class="col-md-2 d-none d-md-block bg-secondary sidebar">
  <div class="sidebar-sticky">
    <ul class="navbar-nav pt-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link text-light nav-elem px-3" href="/admin/">
          <i class="fas fa-user-tie fa-fw"></i>
          <span class="pl-2 font-weight-light">Admin</span>
        </a>
      </li>
      <li class="nav-item text-nowrap">
        <a class="nav-link text-light nav-elem px-3" href="#">
          <i class="fas fa-map-marked-alt fa-fw"></i>
          <span class="pl-2 font-weight-light">Mappa</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
